<div class="card">

    <!-- HEADER -->
    <div class="card-header">
        <div class="title">

            <div class="title-icon pipeline">
                <i data-lucide="git-branch"></i>
            </div>

            <span>Pipeline de Execução</span>

        </div>
    </div>

    <!-- BODY -->
    <div class="card-body">

        <!-- PIPELINE DINÂMICO -->
        <div id="pipeline" class="pipeline">

            <!-- 🔥 estados iniciais enquanto carrega -->
            <div class="pipeline-loading">
                Carregando pipeline...
            </div>

        </div>

    </div>

</div>