{% extends "admin/base_admin.html" %}

{% block header %}📊 Segmentos{% endblock %}

{% block content %}

<div class="admin-container">

    <div class="admin-toolbar">

        <form method="GET" class="search-box">

            <input type="text" id="inputBuscaSegmento" name="q" placeholder="Buscar segmento..."
                value="{{ request.args.get('q','') }}">
            <button type="submit">
                Buscar 🔍
            </button>

        </form>

        <button onclick="novoSegmento()" class="btn-primary">
            + Novo Segmento
        </button>

    </div>

    <table class="admin-table">

        <thead>
            <tr>
                <th>Código</th>
                <th>Descrição</th>
                <th style="text-align:right;">Ações</th>
            </tr>
        </thead>

        <tbody>
            {% for s in segmentos %}
            <tr>

                <td>{{ s.sg_segmento }}</td>

                <td>{{ s.nm_segmento }}</td>

                <td style="text-align:right;">
                    <button class="btn-secondary btn-table" data-id="{{ s.id_segmento }}"
                        data-codigo="{{ s.sg_segmento }}" data-descricao="{{ s.nm_segmento }}"
                        onclick="editarSegmentoBtn(this)">
                        ✏️
                    </button>
                </td>

            </tr>

            {% endfor %}
        </tbody>

    </table>

</div>

<!-- MODAL -->
<div id="modalSegmento" class="modal-overlay">

    <div class="modal-box">

        <div class="modal-header">
            <h3>📊 Segmento</h3>
            <span onclick="fecharModal()" class="modal-close">✖</span>
        </div>

        <div class="modal-body">

            <div class="input-group">
                <label>Código</label>
                <input type="text" id="segmentoCodigo">
            </div>

            <div class="input-group">
                <label>Descrição</label>
                <input type="text" id="segmentoDescricao">
            </div>

        </div>

        <div class="modal-actions">
            <button class="btn-primary" onclick="salvarSegmento()">Salvar</button>
            <button class="btn-secondary" onclick="fecharModal()">Cancelar</button>
        </div>

    </div>

</div>

<!-- JS -->
<script src="{{ url_for('static', filename='js/pages/form.js') }}"></script>
{% endblock %}